# Logs
**/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and distribution folders for both Frontend and Backend
**/node_modules/
**/dist/
**/dist-ssr/
*.local

# Maven, Gradle, and build directories (Backend specific)
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Tool Suite (STS) and other IDE-specific files (Backend specific)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA files
.idea
*.iws
*.iml
*.ipr

# NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code directories and files (Frontend and Backend)
.vscode/*
!.vscode/extensions.json

# OS-specific files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
